<h1>Level 3</h1>


<table class="connectfour-board">
  <tbody>
    <tr>
      <td *ngFor="let column of getCells(); let i = index" class="indicator">
        <app-column-indicator [columnIndex]="i" (drop)="drop($event)" [playerIndex]="currentPlayerIndex"></app-column-indicator>
      </td>
          <tr *ngFor="let row of getCells(); let rowIx = index">
      <td *ngFor="let col of row; let colIx = index">
       <div class="coin" [class]="getStyle(colIx, rowIx)"></div>
      </td>
    </tr>
  </tbody>
</table>


<h2 [hidden]="winnerIndex === 0">the winner is {{winnerName()}}</h2>
<br>
<button (click)="onRestart()">Restart</button>
